<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap linked -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Books and Authors!</title>
</head>
<body>

<div class="container">
    <div id="add_book_container">
<!-- Add book div -->
        <div class="bookadd">
            <!-- Add book form -->
            <form action="/add_book" method="POST"> {% csrf_token %}
                <h1>Add a Book</h1>

                <div class="form-group">
                    <label for="newTitle">Title</label>
                    <input type="text" name="newBook" class="form-control" id="newTitle" placeholder="Add new Book Title here">
                </div>
                <div class="form-group">
                    <label for="newDescription">Description</label>
                    <textarea class="form-control" name="newDescription" id="newDescription" cols="30" rows="5" placeholder="Book description"></textarea>
                </div>
                
                <button class="bookadd_button" type="submit">Add</button>
            </form>
        </div>
    <!-- Showing the Book table -->
        <div class="table_div">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in all_books %}
                    <tr>
                        <th scope="row"> {{ book.id }}</th>
                        <td>{{ book.title }}</td>
                        <td> <a href="/book/{{ book.id }}">View</a></td>
                        <!-- adding data from backend from books Class -->
                    </tr>
                    {% endfor %}
                </tbody>






            </table>


        </div>
    </div>



</div>


















<!-- JS Scripts for Bootstrap -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
